.shop {
  flex: 3;
  margin-right: 30px;

  h2 {
    margin-top: 0;
  }
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalogue__item {
  width: 49%;
  margin-bottom: 2%;
  padding: 10px;
  border: 1px dashed $c-secondary-darker;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.catalogue__item__north {
  p {
    margin-top: $vertical-rythm-spacing-text;
  }
}

.catalogue__item__south {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
    font-weight: $font-weight-bold;
  }
}
