.cart {
  flex: 2;
  background-color: $cart-background;
  padding: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: $vertical-rythm-spacing-text;
  }

  h3 {
    margin-top: 0;
    margin-bottom: $vertical-rythm-spacing-text;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    border-bottom: 1px dashed $c-secondary-darker;
  }

  th {
    font-size: $font-size-table-header;
    color: $c-primary;
    font-weight: $font-weight-regular;
    text-align: left;
    padding-right: $horizontal-rythm-spacing-text;
  }

  th:first-child {
    width: 55%;
  }

  th:last-child {
    padding-right: 0;
  }

  td {
    vertical-align: top;
  }
}

.cart__item {
  border-bottom: 1px solid $c-secondary-darker;

  .cart__item__description {
    padding-right: 10px;
    padding-top: 10px;

    button {
      margin-bottom: 15px;
    }
  }

  .cart__item__price {
    font-weight: $font-weight-bold;
    padding: 10px;
  }

  .cart__item__quantity {
    input {
      width: 40px;
      padding: 5px;
      margin-right: 5px;
    }

    button {
      @include cart-button;

      height: 25px;
      line-height: 0;
    }

    display: flex;
    padding-top: 10px;
  }
}

.cart__total {
  text-align: right;
  font-style: italic;

  ol {
    list-style-type: none;
    padding: 0;
  }

  output {
    min-width: 75px;
    display: inline-block;
  }
}

.cart__total__topaid {
  border-top: 1px solid $c-secondary-darker;
  margin-top: 25px;
  padding-top: 20px;

  output {
    color: $c-primary;
    font-size: $font-size-final-output;
    font-weight: $font-weight-bold;
  }
}

.cart__information {
  border-top: 1px dashed $c-secondary-darker;

  .cart__action {
    em {
      margin: 0 5px;
    }

    button {
      @include cart-button;
    }

    text-align: right;
  }

  button.proceed-sending {
    color: #331d91;
    background-color: #dadada;
    cursor: wait;
  }
}
