header {
  @include theme-background;

  .banner {
    height: $banner-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url($path-image-title-large);

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url($path-image-title-large-2x);
      background-size: 1180px;
    }
  }

  .caption {
    font-size: $font-size-headline-primary-large;
    font-weight: $font-weight-regular;
    color: $c-secondary;
  }

  .logo {
    position: absolute;
    top: $vertical-rythm-spacing-text;
    left: 50px;
  }
}

@media (max-width: $breakpoint-large-px) {
  header .banner {
    background-image: url($path-image-title-small);

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url($path-image-title-small-2x);
      background-size: 490px;
    }
  }
}
