@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// -- Styles

// Universal Box Sizing with Inheritance
// https://css-tricks.com/box-sizing/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: $line-height-factor-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin: 0;
}

a {
  color: $c-primary;
}

h2 {
  color: $c-primary;
  font-size: $font-size-headline-component-large;
  font-weight: $font-weight-regular;
}

h3 {
  font-weight: $font-weight-bold;
}

button {
  @include text-button;
}

.logo {
  @include link-with-logo;
}
