footer {
  @include theme-background;

  color: $c-secondary;
  font-weight: $font-weight-bolder;
  margin-top: $vertical-rythm-spacing-component;

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: $vertical-rythm-spacing-text 0;
  }
}
