.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $horizontal-rythm-spacing-text;
  padding-right: $horizontal-rythm-spacing-text;
  max-width: $page-max-width;
  box-sizing: border-box;
}

.page {
  display: flex;
  margin-top: $vertical-rythm-spacing-component;
}

@media (max-width: $breakpoint-large-px) {
  .page {
    display: block;
  }
}
