.breadcrumb {
  list-style: none;
  padding: 0;
  margin: $vertical-rythm-spacing-component 0 0 0;
}

.breadcrumb__item:not(:first-child)::before {
  content: "\00BB";
  margin: 0 5px;
}

.breadcrumb__item {
  display: inline;
}
